*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	text-decoration: none;
	list-style: none;
	/* scroll-behavior: smooth; */
}


:root{
	--bg-color: #151515;
	--second-bg-color: #202020;
	--text-color: #fff;
	--second-color: #ccc;
	--main-color: #8E2DE2;
	--big-font: 5rem;
	--h2-font: 3rem;
	--p-font: 1.1rem;
	
}


body{
	background: var(--bg-color);
	color: var(--text-color);
}


/* ===>  Home <=== */


section{
	padding: 160px 15% 120px;
}


.home{
	position: relative;
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	border-bottom: 3.9px solid purple;
    padding: 10px 20px;
	 
	overflow: hidden;
}


.img-bg {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	z-index: -20;
	animation: zoom 25s;
 }

@keyframes zoom {
	0% {
		transform: scale(1.3);
	} 
	100% {
		transform: scale(1);
	}
}


.slide{
	margin-bottom: 20px;
}
.one{
	display: inline-block;
	margin-right: 15px;
	height: 32px;
	padding: 0 15px;
	line-height: 32px;
	font-size: 20px;
	font-weight: 500;
	border-radius: 5px;
	background: var(--main-color);
	color: var(--text-color);
}
.two{
	display: inline-block;
	color: var(--second-color);
	font-size: 20px;
	font-weight: 500;
}

.three {
	transition: all .45s ease;
}

.three:hover{
	color: var(--text-color);
	color: var(--main-color);
	transform: translateX(5px);
}

.home-text h1{
	font-size: var(--big-font);
	font-weight: 700;
	color: var(--text-color);
	line-height: 1.1;
	margin: 0 0 8px;
}
.home-text h3{
	color: var(--text-color);
	margin: 0 0 35px;
	font-size: 3rem;
	font-weight: 700;
	line-height: 1.1;
}
.home-text p{
	color: var(--second-color);
	font-size: var(--p-font);
	line-height: 1.8;
	margin-bottom: 40px;
}
.button{
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
.btn{
	display: inline-block;
	padding: 12px 28px;
	background: var(--main-color);
	border-radius: 5px;
	color: var(--text-color);
	font-size: 1rem;
	letter-spacing: 1px;
	font-weight: 600;
	transition: all .45s ease;
}
.btn:hover{
	transform: scale(0.9);
}


/* ===> Fim Home <=== */










/* ===> SOBRE <=== */


.perfil {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding-left: 1.2rem;
}

.per {
	display: inline-block;
	padding: 12px 28px;
	background: var(--main-color);
	border-radius: 5px;
	color: var(--text-color);
	font-size: 1rem;
	letter-spacing: 1px;
	font-weight: 600;
	transition: all .45s ease;
}

.per:hover{
	transform: scale(0.9);
}

.btn2{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	font-weight: 600;
	color: var(--text-color);
	margin-left: 35px;
}
.btn2 span i{
	height: 55px;
	width: 55px;
	background: var(--main-color);
	color: var(--text-color);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 35px;
	border-radius: 50%;
	margin-right: 15px;
	transition: all .45s ease;
}
.btn2 span i:hover{
	transform: scale(1.1) translateY(5px);
}

header.sticky{
	background: var(--bg-color);
	border-bottom: 1px solid #ffffff1a;
	padding: 12px 15%;
}

.about{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 1.5rem;
	border-bottom: 3.9px solid purple;
    padding: 10px 20px;
}
.about-img img{
	max-width: 530px;
	height: auto;
	width: 100%;
	border-radius: 8px;
	border-left: 5px solid purple;
	filter: opacity(75%);
	transition: 0.4s;
	width: 80%;
}

.about-img img:hover {
	filter: opacity(100%);
	border-left: 5px solid #18b48a;
}

.about-text {
	padding: 1.1rem 0;
}

.about-text-span {
	color: var(--main-color);
	transition: 0.4s;
}

.about-text-span:hover {
	color: #fff;
	background: var(--main-color);
}


.about-text h2{
	font-size: var(--h2-font);
	line-height: 1;
}
.about-text h4{
	font-size: 24px;
	font-weight: 600;
	color: var(--text-color);
	line-height: 1.7;
	margin: 15px 0 30px;
}

.about-text p{
	color: var(--second-color);
	font-size: var(--p-font);
	line-height: 1.8;
	margin-bottom: 4rem;
}

























/* ===> FIM SOBRE <=== */
/* .services{
	background: var(--second-bg-color);
} */
















/* ===> Portifolio <=== */


.main-text{
	text-align: center;
	padding-top: 1rem;
}
.main-text h2{
	font-size: var(--h2-font);
	line-height: 1;
}
.main-text p{
	color: var(--second-color);
	font-size: 15px;
}

.main-text .main-text-menu {
	display: flex;
	justify-content: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin-top: 1rem;
}

.main-text .main-text-menu p {
	margin-top: 0.5rem;
	cursor: pointer;
	font-size: 1.8rem;
}

.main-text .main-text-menu p:hover {
	color: var(--main-color);
	animation: anime .5s forwards;
}

@keyframes anime {
	0% {
 		border-bottom: 1px solid transparent;
	} 


	100% {
		transform: translateX(5px);
		border-bottom: 5px solid var(--main-color);
   	}
}

.services-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, auto));
	align-items: center;
	gap: 2.5rem;
	margin-top: 5rem;
}





/* ========> Portifolio <========*/



/* 
.box{
	background: var(--bg-color);
	padding: 35px 45px;
	border-radius: 8px;
	transition: all .45s ease;
}
.s-icons i{
	font-size: 32px;
	margin-bottom: 20px;
}
.box h3{
	font-size: 24px;
	font-weight: 600;
	color: var(--text-color);
	margin-bottom: 15px;
} */



/* .box p{
	color: var(--second-color);
	font-size: 1rem;
	line-height: 1.8;
	margin-bottom: 25px;
}
.read{
	display: inline-block;
	padding: 8px 18px;
	background: #333333;
	color: var(--second-color);
	font-size: 14px;
	font-weight: 500;
	border-radius: 8px;
	transition: all .45s ease;
} */
/* .read:hover{
	letter-spacing: 1px;
	background: #ffffff99;
	color: var(--text-color);
}
.box:hover{
	transform: translateY(-8px);
	cursor: pointer;
} */
.portfolio {
	border-bottom: 3.9px solid purple;
    padding: 10px 20px;
}

.portfolio-content {
	/* display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, auto));
	align-items: center;
	gap: 2.5rem;
	margin-top: 5rem; */
	width: 100%;
	height: 100%;	
}

.row {
	position: relative;
	overflow: hidden;
	border-radius: 8px;
	cursor: pointer;
	max-width: 21rem;
	padding: .5rem;
}

.row img {
	width: 100%;
	border-radius: 8px;
	display: block;
	transition: transform 0.5s;
} 

.layer {
	width: 100%;
	height: 0;
	background: linear-gradient(rgba(0,0,0,0.1), #6923a6);
	position: absolute;
	border-radius: 8px;
	left: 0;
	bottom: 0;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 0 30px;
	transition: height 0.5s;
	
}
.layer h5{
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 5px;
}
.layer p{
	color: var(--second-color);
	font-size: 1rem;
	line-height: 1.8;
}
.layer i{
	color: var(--main-color);
	margin-top: 20px;
	font-size: 20px;
	background: var(--text-color);
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}
.row:hover img{
	transform: scale(1.1);
}
.row:hover .layer{
	height: 100%;
}

/* ========> Fim Portifolio <========*/































/* ========> XP <========*/
.expe-container {
	/* display: flex;
	justify-content: center; */

	display: grid;
	grid-template-columns: 1fr 1fr;
	border-bottom: 3.9px solid purple;
 }

.expe-top {
	width: 100%;
	text-align: center;
	flex-wrap: wrap;
	cursor: pointer;
}

.expe-botton {
	width: 100%;
	text-align: center;
	flex-wrap: wrap;
	cursor: pointer;
}

.xp-text {
}

.xp-text-line {
	border-bottom: 3.9px solid var(--main-color);
	margin: 1rem;
}

.xp-text-container {
	padding-top: .5rem ;
	display: flex;
	justify-content: center;
	align-items: center;
}


.xp-text-activities {
	color: var(--main-color);
	font-size: 1.2rem;
	transition: .5s;
}

.xp-text-activities:hover {
	color: #18b48a
}

.xp-title {
	text-align: center;
}

.xp-img-top img{
	width: 25rem;
	height: 5rem;
	margin-top: 2.4rem;
	animation: float 6.8s ease-in-out infinite;
	transition: all 2s;
}

.xp-img-top img:hover {
	filter: drop-shadow(5px 5px 4px var(--main-color));
}

.xp-img img{
	width: 25rem;
	height: 15rem;
	padding-top: 1.5rem;
	animation: float 6.8s ease-in-out infinite;
	transition: all 2s;
}

.xp-img img:hover {
	filter: drop-shadow(5px 5px 4px var(--main-color));
}

@keyframes float {
	0%, 100% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-18px);
	}
}






























/* =====> Contact <=====*/

.contact{
	background: var(--second-bg-color);
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 2.5rem;
	border-bottom: 3.9px solid purple;
    padding: 10px 20px;
}
.contact-text h4{
	color: var(--text-color);
	margin: 18px 0;
	font-size: 20px;
	font-weight: 600;
}
.contact-text h2{
	font-size: var(--h2-font);
	line-height: 1;
}
.contact-text p{
	color: var(--second-color);
	font-size: var(--p-font);
	line-height: 1.8;
	margin-bottom: 30px;
}
.list{
	margin-bottom: 2.8rem;
}
.list li{
	margin-bottom: 12px;
}
.list li a{
	display: block;
	color: var(--second-color);
	font-size: 14px;
	transition: all .45s ease;
}
.list li a:hover{
	color: var(--main-color);
	transform: translateX(5px);
}
.contact-icons i{
	height: 45px;
	width: 45px;
	background: var(--main-color);
	color: var(--text-color);
	font-size: 22px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	margin-right: 15px;
	transition: all .45s ease;
}
.contact-icons i:hover{
	background: var(--text-color);
	color: var(--main-color);
}

.contact-form {
	position: relative;
	background-image: url("../../img/contact2.jpg");
	width: 50vw;
	height: 50vh;
	background-size: cover;
	background-position: center;
	border-radius: .5rem;
	border-left: 5px solid var(--main-color);;
	filter: opacity(75%);
	transition: 0.4s;
	width: 80%;
}

.contact-form:hover {
	filter: opacity(100%);
	border-left: 5px solid rgb(24, 180, 138);
}  


















/* ===> Footer <=== */

.end{
	padding: 20px 15%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
	background: var(--bg-color);
}
.last-text p{
	color: var(--second-color);
	font-size: 14px;
}
.top i{
	padding: 1rem;
	border-radius: 8px;
	font-size: 1.5rem;
	color: var(--text-color);
	background: var(--main-color);
	transition: all .45s ease;
}

.top i:hover{
	background: var(--text-color);
	color: var(--main-color);
}


/* ===> FIM Footer <=== */
















.js .js-tabcontent section {
	display: none;
}

.js-tabcontent section.ativo {
	display: flex !important;
	justify-content: center;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	transform: translate3d(-30px, 0, 0);
	animation: show .5s forwards;
	/* background: yellow; */
}

@keyframes show {
	0% {
		opacity: 0;
		transform: translate3d(-50px, 0, 0);
	} 

	50% {
		filter: grayscale(0.4)
	}

	100%{
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}









































/* =====> Animação Letra <===== */

 

/* [data-anime-letra] h1 {

	background: url(../../img/art9.jpg);
	background-repeat: repeat-x;
	-webkit-background-clip: text;
	color: transparent;
	animation: animate 1s linear infinite;
} */

/* @keyframes animate {

    0% {
        background-position: left 0px top 80px;
    }

    40% {
        background-position: left 800px top -50px;
    }
    80% {
        background-position: left 1800px top -50px;
    }

    100% {
        background-position: left 2400px top 80px;
    }

}  */

































